html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  overflow: hidden;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

/* STYLE INFO */

.info {
  background-color: #f0f8ff6c;
  padding: 50px;
  font-size: 20px;
  line-height: 2rem;
  text-align: center;
}

/* STYLE FORM */

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 35px 20px;
  margin: 50px auto;
  font-weight: 300;
}

.form label {
  margin-top: 15px;
  font-size: 14px;
  margin-bottom: 5px;
}

.form input {
  padding: 10px;
  border: 1px solid #86c6ff;
  border-radius: 12px;
}

.form input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #62b6ff;
}

.form input:invalid {
  border-color: red;
}

.form button {
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  outline: none;
  background-color: #f0f3ff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.1);
  font-family: inherit;
}

.form button:hover {
  background-color: #86c6ff75;
}

.form button:active {
  background-color: #86c6ff75;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.form p {
  margin-top: 15px;
  font-weight: 400;
}

.flex-right {
  width: 60vw;
}

/* STYLE IMAGE */

.flex-left {
  position: relative;
  background-image: url(img/maxim-berg-4DfS5Kb4YnY-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 40vw;
  color: #fff;
}

.flex-left p {
  position: absolute;
  width: 100%;
  bottom: 2%;
  text-align: center;
  background-color: #6d6d6d52;
  padding: 5px 2px;
}

.flex-left a {
  color: #fff;
}

/* MEDIA QUERIES */

@media (max-width: 970px) {
  .info {
    width: 100vw;
    font-size: 16px;
  }

  .form {
    width: 70vw;
    margin-left: 25%;
  }

  .flex-left {
    display: none;
  }
}

@media (max-height: 900px) {
  .info {
    padding: 40px;
  }

  .form {
    padding: 0;
  }

  .container {
    margin: 0 auto;
  }
}

@media (max-height: 700px) {
  .info {
    padding: 20px;
  }

  .form {
    padding: 0;
    margin-top: 0;
  }
}
